.appview-container {
    background-color:darksalmon; /* Set your desired background color */
}

.st-emotion-cache-18ni7ap {
    background-color:darksalmon; /* Set your desired background color */
}

.st-emotion-cache-16txtl3 {
    background-color:antiquewhite; /* Set your desired background color */
}
